# Ignore all files under the data/ directory, but keep folder structure
data/*
!data/**/
!data/.gitkeep
data/pdf/*
!data/pdf/.gitkeep
data/cache/*
!data/cache/.gitkeep

# Ignore __pycache__ folders only under src/
src/**/__pycache__/

# Ignore .env file
.env

# Ignore virtual environment folder
venv/